pkgbase = gpaste-git
	pkgdesc = Clipboard management system
	pkgver = 42.1+14+gfd41f430
	pkgrel = 3
	url = http://www.imagination-land.org/tags/GPaste.html
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = intltool
	makedepends = vala
	makedepends = appstream-glib
	makedepends = gobject-introspection
	makedepends = gnome-shell
	makedepends = gnome-control-center
	makedepends = git
	makedepends = meson
	depends = gtk3
	optdepends = wgetpaste: Upload clipboard contents
	provides = gpaste=42.1+14+gfd41f430
	conflicts = gpaste
	options = !emptydirs
	source = gpaste-git::git+https://github.com/keruspe/gpaste.git#branch=master
	sha256sums = SKIP

pkgname = gpaste-git
